<meta name="viewport" content="width=device-width, initial-scale=1">
body {
  font-family: Arial, Helvetica, sans-serif;
  /*background:green;*/

  }




  .header {
    overflow: hidden;
     background-color: #282828;
    /* background-image: radial-gradient(blue,#0c0032,black); */
    padding: 20px 10px;
  }
body{
  font-family: 'Shojumaru', cursive;

}

  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;



  }

  .header a.logo {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 10px 5px 10px black , -10px -5px 10px black,2px 2px 10px white , -2px -2px 10px white,-10px 10px 10px black , 10px -10px 10px black,-2px 2px 10px white , 2px -2px 10px white ;
    transition: 0.3s ease-in-out,transform:0.3s ease in out;


  }

.header a.logo:hover{
  transform: scale(1.03);

}
  .header a:hover {
    /* background-color: white; */
    transform: scale(1.03);

    color: white;
  }

  .header a.active {
    background-color: black;
    color: white;
  }

  .header-right {
    float: right;
  }

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }
input[type=email], input[type=password] {
  width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 2px solid #ccc;
 box-sizing: border-box;
 font-family: 'Shojumaru', cursive;

}

  button {
    background-color: #282828;
    /* color: white; */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    font-family: 'Shojumaru', cursive;
    transition: 0.3s ease-in-out,transform:0.3s ease in out;

  }
  button:hover{
    transform: scale(1.01);

  }
.modal-content {
  background-color: transparency(75%);
  width: 500px;
  height: 500px;
  padding: 50px;
  align:left;

}

.inputWithIcon input[type="email"],input[type="password"] {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 1px;
  top: 8px;
  padding: 9px 8px;

  transition: 0.3s;
}

span.psw {
  float: right;
  padding-top: 3px;
}
/*#rcorners3 {
  border-radius: 50%;
  padding: 9%;
  width: 15%;
  height: 75px;
  text-align: middle;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
background-image: url("ll.png");
background-image:size("400px");
}*/
.modal-content  {
  align:center;
  margin-left: 30%;
  margin-top: 0.2;
}
.check{
  float: left;
}
body{
background-color: #0c0032;
background-size: cover;

  margin: 0;
}

.logbut {
  background-color: red;
  font-size: 100px;
}
h2{
  color: white;
  font-size: 30px;
  text-shadow: 5px 5px 10px black , -5px -5px 10px black ;
  transition: 0.3s ease-in-out,transform:0.3s ease in out;

}
h2:hover{
  transform: scale(1.03);
}
