*{
  margin: 0;
  padding: 0;

}
.container{
  width: 100%;
/*  height: 100%;*/


}
.bgslider{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.bgslider li{
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0;
  animation: images 18s linear infinite;
}
.bgslider li:nth-child(1){
  background-image: url("ol4.jpg");
}
.bgslider li:nth-child(2){
  background-image: url("111.jpeg");
  animation-delay: 6s;

}
.bgslider li:nth-child(3){
  background-image: url("books_library_collection_125386_1920x1080.jpg");
  animation-delay: 12s;
}
@keyframes images{
  0%{opacity: 0; animation-timing-function: ease-in;}
    10%{opacity: 1; animation-timing-function: ease-out;}
      25%{opacity: 1; transform: scale(1);}
        50%{opacity: 0;transform: scale(2)rotate(20deg);}
          100%{opacity: 0;}

}
